.form-horizontal {
  background-color: #fff;
  padding: 30px;
  
  width: 100%;
}

.mid-form {
  position: absolute;
  transform: translateY(50%);
}

#login, #app, #places {
  background: url(../images/map.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.navbar .navbar-nav > li > a, .navbar .navbar-nav > li > a:hover  {
  color: #000;
}

#place-input {
  position: relative;
  transform: translateY(50%);
  width: 100%;
}

.error {
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.brand {
  font-weight:bold; 
  font-size: 22px;
}

.margin-top-0 {
  margin-top: 0;
}

.well {
  margin-top: 150px;
  background-color: #fff;
}

li {
  list-style-type: none;
  height: auto;
  margin: 15px;
}




