<nav class="navbar navbar-default" ng-controller="NavCtrl">
  <ul class="nav navbar-nav">
    <li><a><p class="brand">Jaaga</p></a></li>
  </ul>
  <ul class="nav navbar-nav pull-right">
    <li ng-show="isLoggedIn()"><a class="text-capitalize">{{ currentUser() }}</a></li>
    <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
    <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
    <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
  </ul>
</nav>
<ng-map center="[40.74, -74.18]" style="height:88vh;"></ng-map>
<section class="container-fluid" id="place-input">
  <div class="row">
  <form class="form-horizontal">
    <fieldset>
      <legend>Enter Place</legend>
      <div class="form-group">
        <label for="inputPlace" class="col-md-2 control-label">Place</label>
        <div class="col-md-10">
          <input type="text" class="form-control" id="inputName" placeholder="Enter Place">
        </div>
      </div>
    </fieldset>
  </form>
  </div>
</section>